# Data Structures

 1) What are data structures, and why are they important?
    
    -> Data structure is a way of organizing, managing and storing data which can be accesesed and maniupulated efficiently.
       They are important to optimize the usage of resources such as memory, time for processing.
      
 2)  Explain the difference between mutable and immutable data types with examples.
    
    -> Mutable:- Data types which can be modified after its creation without any new object.
       Eg: List, Dictionary, set
       Lis = ["Apple", 12, 13.3, 5+6j]
       Lis[1] = 29
       updated list
       Lis = ["Apple", 29, 13.3, 5+6j]

    -> Immutable:- Data types which can't be modified once created, if any changes made will result in creation of new object
       Eg: Tuples, String, Frozen set
       name = "pwskills"
       name[0] = "a"
       This will throw error

  3)  What are the main differences between lists and tuples in Python?

    -> Main differences between lists and tuples
       i) Lists are Immutable whereas tuples are mutable.
       ii) Lists are defined with square brackets[] wheras tuples are defined using paranthesis()

  4)  Describe how dictionaries store data.
   
    -> Dictionaries store data in form of key value pair
       Dictionaries store data as pairs of key and values. The key is a unique identifier and value is the data associated with the key.

       Hashing technique is used to map keys to specific positions in memory, where hash function takes a key and generates a unique hash code which identifies where the mapped value will be stored in memory


  5)  Why might you use a set instead of a list in Python?

    -> A set stores unique elements which return eliminates all the
       duplicate values automatically.
       It also provides unique built in operations like unique, intersection, difference and symmetric difference.
      
  6) What is a string in Python, and how is it different from a list?

    -> String
       Strings are basically sequence of characters stored in memory, enclosed in single quotes or double quotes.

       Strings are immutable unlike list, therefore can't be modified after creation unless we use techniques like concatenation, slicing(), replace() etc methods

  7) How do tuples ensure data integrity in Python?

    -> Tuple
       A tuple in data structure is basically immutable in python, therefore contents cannot be modified post creation which prevents accidental modifications.

  8) What is a hash table, and how does it relate to dictionaries in
     Python?
    -> Hash Table
       Hash table is used to map keys to specific positions in memory, where hash function takes a key and generates a unique hash code which identifies where the mapped value will be stored in memory.

  9) Can lists contain different data types in Python?
    -> List
       Yes List can contain all data types and are stored in ordered format and we can access them too with indexing, Lists are mutable, therefore can be modified post creation.

  10) Explain why strings are immutable in Python?

    -> Immutable strings
       Strings are immutable to optimize memory usage and to provide accidental data modifications.

  11) What advantages do dictionaries offer over lists for certain tasks?

    -> Advantage of Dictionary over List
       Data in dictionaries are more organized and structured compared to list as they contain key value pairs.
       Dictionaries use hash table, data can be accessed quickly unlike list which has to search through all the elements.
       Dictionaries offers unique keys whereas list offers duplicate values.

  12) Describe a scenario where using a tuple would be preferable over a list.

    -> Scenarios for Tuple over List
       Tuples are immutable therefore data cannot be modified once created, hence for data which needs to remain constant and avoid accidental changes Tuples are preferable over list.

  13) How do sets handle duplicate values in Python?
    
    -> Sets and duplicate values
       Sets stores only unique elements therefore sets eliminates duplicate values

  14) How does the “in” keyword work differently for lists and dictionaries?

    -> "in" keyword
       The "in" keyword in list checks membership in both list and dictionaries. In List it scans the entire list values whereas in Dictionaries it only scans keys not values as data in dictionaries are stored as ("key":value) pairs.

  15) Can you modify the elements of a tuple? Explain why or why not?

    -> Tuple modification
       No, we cannot modify the elements of a tuple because tuples are immutable.

  16) What is a nested dictionary, and give an example of its use case?
     
    -> Nested Dictionary
       Nested dictionary can be reffered to dictionary inside another dictionary.
       Use case:
       Employee records, Product inventory

  17) Describe the time complexity of accessing elements in a dictionary?

    -> Time comlexity
       Dictionaries use hashing, meaning they compute a hash for the key and directly access the corresponding value.
       This results in constant time complexity: O(1) in the average case.
       Sometimes hash collision occurs like multiple hash keys are assigned with same key values resulting in worst time complexity: O(n).

  18) In what situations are lists preferred over dictionaries?

    -> List over dictionaries
       Lists are preffered over dictionaries where order matters and where sequential iteration is required.

  19) Why are dictionaries considered unordered, and how does that affect
      data retrieval?
     
    -> Unordered Dictionaries
       Dictionaries are considerd unordered because dictionaries use hash table to store key value pairs.
       Access to contents of dictionary isn't index based, instead keys are required to access values.

  20) Explain the difference between a list and a dictionary in terms of  data retrieval.

    -> List and Dictionary difference
      List offers ordered collection of elements whereas dictionary uses key value pairs
      List are accessed by index whereas dictionaries are accessed by keys
      List stores only values whereas Dictionary stores key value pairs.

In [ ]:
# 1) Write a code to create a string with your name and print it.

name = "Akarshak"
print(name)

Akarshak

In [ ]:
# 2) Write a code to find the length of the string "Hello World"?

text = "Hello World"
print(len(text))

11

In [ ]:
# 3) Write a code to slice the first 3 characters from the string "Python Programming"?

text = "Python Programming"
print(text[3:])

hon Programming

In [ ]:
# 4) Write a code to convert the string "hello" to uppercase.

text = "hello"
print(text.upper())

HELLO

In [ ]:
# 5) Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
print(text.replace("apple","orange"))

I like orange

In [ ]:
# 6) Write a code to create a list with numbers 1 to 5 and print it.
lis = [1,2,3,4,5]
print(lis)

[1, 2, 3, 4, 5]

In [ ]:
# 7) Write a code to append the number 10 to the list [1, 2, 3, 4].
lis = [1,2,3,4]
lis.append(10)
print(lis)

[1, 2, 3, 4, 10]

In [ ]:
# 8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
lis = [1,2,3,4,5]
lis.remove(3)
print(lis)

[1, 2, 4, 5]

In [ ]:
# 9) Write a code to access the second element in the list ['a', 'b', 'c', 'd']
lis = ['a', 'b', 'c', 'd']
lis[1]

'b'

In [ ]:
# 10) Write a code to reverse the list [10, 20, 30, 40, 50].
lis = [10, 20, 30, 40, 50]
lis.reverse()
print(lis)

[50, 40, 30, 20, 10]

In [ ]:
# 11) Write a code to create a tuple with the elements 100, 200, 300 and print it.
tup = (100,200,300)
print(tup)

(100, 200, 300)

In [ ]:
# 12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tup = ('red', 'green', 'blue', 'yellow')
tup[-2]

'blue'

In [ ]:
# 13) Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tup = (10, 20, 5, 15)
print(min(tup))

5

In [ ]:
# 14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tup = ('dog', 'cat', 'rabbit')
print(tup.index("cat"))

1

In [ ]:
# 15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ("apple","orange","kiwi")
if "kiwi" in fruits:
    print("kiwi is in fruits")
else:
    print("kiwi is not in fruits")

kiwi is in fruits

In [ ]:
# 16) Write a code to create a set with the elements 'a', 'b', 'c' and print it.
letters = {"a","b","c"}
print(letters)

{'a', 'c', 'b'}

In [ ]:
# 17) Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
num = {1, 2, 3, 4, 5}
num.clear()
print(num)

set()

In [ ]:
# 18) Write a code to remove the element 4 from the set {1, 2, 3, 4}.
num = {1,2,3,4}
(num.remove(4))
print(num)

{1, 2, 3}

In [ ]:
#19) Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1,2,3}
set2 = {3,4,5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

In [ ]:
# 20) Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2))

{2, 3}

In [ ]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict = {
        "name":"Akarshak",
        "age":25,
        "city":"Gurgaon"
      }
print(dict)

{'name': 'Akarshak', 'age': 25, 'city': 'Gurgaon'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict = {'name': 'John', 'age': 25}
dict["country"] = "USA"
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23) Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict = {'name': 'Alice', 'age': 30}
print(dict["name"])

Alice

In [ ]:
# 24) Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop("age")
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
# 25) Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict = {'name': 'Alice', 'city': 'Paris'}
if "city" in dict:
    print("city is in dict")
else:
    print("city is not in dict")

city is in dict

In [ ]:
# 26) Write a code to create a list, a tuple, and a dictionary, and print them all.
lis = [1,2,3,4]
tup = (1,2,3,4)
dict = {
        "name":"Akarshak",
        "age":25,
        "city":"Gurgaon"
      }
print(lis)

[1, 2, 3, 4]

In [ ]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = [random.randint(1,100) for i in range(5)]
random_numbers.sort()
print(random_numbers)

[65, 67, 67, 80, 90]

In [ ]:
# 28) Write a code to create a list with strings and print the element at the third index.
lis = ["apple","orange","kiwi"]
print(lis[2])

kiwi

In [ ]:
# 29) Write a code to combine two dictionaries into one and print the result.
dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "New York", "country": "USA"}

dict1.update(dict2)
print(dict1)

{'name': 'Alice', 'age': 25, 'city': 'New York', 'country': 'USA'}

In [ ]:
  # 30) Write a code to convert a list of strings into a set.
lis = ["apple","orange","kiwi"]
print(set(lis))

{'apple', 'orange', 'kiwi'}